@font-face {
  font-family: 'LetterGothicStd-Bold';
  src: url('LetterGothicStd-Bold.eot');
  src: url('LetterGothicStd-Bold.woff2') format('woff2'),
       url('LetterGothicStd-Bold.woff') format('woff'),
       url('LetterGothicStd-Bold.ttf') format('truetype'),
       url('LetterGothicStd-Bold.svg#LetterGothicStd-Bold') format('svg'),
       url('LetterGothicStd-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

