@font-face {
  font-family: 'PTSans-Narrow';
  src: url('PTSans-Narrow.eot');
  src: url('PTSans-Narrow.woff2') format('woff2'),
       url('PTSans-Narrow.woff') format('woff'),
       url('PTSans-Narrow.ttf') format('truetype'),
       url('PTSans-Narrow.svg#PTSans-Narrow') format('svg'),
       url('PTSans-Narrow.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
